@media(max-width: 992px){
    main{
        flex-direction: column;
    }
    .main__left{
        max-width: 100%;
    }
    .accordion{
        max-width: 400px;
    }
}
@media(max-width: 575px){
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    p, a{
        font-size: 0.8em;
    }
    .social{
        padding-left: 25px;
        background: url(img/vk-20.png);
        background-repeat: no-repeat;
        background-size: 15px;
    }
    .accordion{
        font-size: 0.8em;
    }

    .main__right__table{
        display: none;
    }
    .main__right__table-media{
        display: block;
        border-spacing: 20px;
        border: none;
    }
}