@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: black url(img/bg-main.jpg);
    background-repeat: no-repeat;
    background: cover;
    color: SeaShell;
}
h1{
    font-size: 2em;
}
a{
    text-decoration: none;
    color: LightSkyBlue;
}

main{
    max-width: 1280px;
    margin: auto;
    padding: 100px 60px;
}

/* Section 0 */

.main__section0{
    display: flex;
    justify-content: space-between;
}
.social{
    padding-left: 25px;
    line-height: 2em;
}
.vk{
    background: url(img/vk-20.png);
    background-repeat: no-repeat;
}
.tg{
    background: url(img/tg-20.png);
    background-repeat: no-repeat;
}
.git{
    background: url(img/github-logo-white-20x20.png);
    background-repeat: no-repeat;
}

/* left block */

.main__section0__left{
    width: 400px;
    padding-left: 20px;
    margin: 0 40px 40px 0;
}
.main__section0__left__info{
    margin-bottom: 60px;
}
.main__section0__left__skills{
    margin-bottom: 40px;
}
.main__section0__left__skills ul{
    padding: 0 20px;
    font-size: 0.8em;
}
.main__section0__left__skills li{
    line-height: 1.5em;
}



/* right block */

.main__section0__right{
    margin-bottom: 40px;
}
.main__section0__right h2{
    padding: 0 20px;
}
.main__section0__right__table-media{
    display: none;
}
.main__section0__right__table{
    /* border-collapse: collapse; */
    border-spacing: 20px;
    border: none;
}
.main__section0__right__table__td{
    width: 300px;
    height: 200px; 
    text-align: center;
    padding: 0;
}
.td-button{
    border: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}
.td-button:hover{
    background: rgba(0, 0, 0, .2);
}
.td-ikra{
    background: url(img/ikra.jpg);
    background-position: center;
}
.td-wp{
    background: url(img/wp.jpg);
    background-position: center;
}
.td-study3{
    background: url(img/study3.jpg);
    background-position: center;
}
.td-study2{
    background: url(img/study2.jpg);
    background-position: center;
}

/* Сертификаты */

.certificate{
    padding: 20px;
}
.certificate__accordion{
    max-width: 400px;
}
.accordion {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    font-size: .9em;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #bbb;
}
.panel {
    padding: 10px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: center;
}
.panel img{
    max-width: 100%;
}


/* Footer */

footer{
    background: black;
    /* border-top: 1px solid SeaShell; */
}
.footer__content{
    max-width: 1280px;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
    padding: 40px 80px 100px;
}
