@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Outfit:wght@100..900&display=swap');

body{
    box-sizing: border-box;
    font-family: "Onest", sans-serif;
    background-image: url(img/bgblack.jpg);
    background-repeat: no-repeat;
    background-position: top;
    color: #D9D9D9;
    font-weight: 200;
    background-color: #010101;
    margin: auto;
}

a {
    color: #C4926A;
    text-decoration: none;
}
a:hover {
    color: #FF9F4D;
}

ul {
    padding-left: 20px;
}

h1, h2, h3 {
    font-weight: 400;
}

p {
    line-height: 1.3em;
}
li {
    line-height: 1.7em;
}

.home_button svg:hover {
    fill:#FF9F4D;
}

header {
    max-width: 1280px;
    box-sizing: border-box;   
    padding: 60px 40px 20px;
    margin: auto;
    display: flex; 
    justify-content: space-between;
}

.button_lang {
    background: none;
    border: none;
    color:#C4926A;
    font-weight: 600;
    cursor: pointer;
}
.button_lang:hover {
    color:#FF9F4D;
}

section {    
    margin: auto;
}
.section-block {
    box-sizing: border-box;
    max-width: 1280px;
    padding: 40px 40px 60px;
    margin: auto;
}
.block-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-flex-2-inside {
    width: 40%;
    padding-right: 20px;
}
.card {
    width: 30%;
    margin: 2rem 0;
}
.card img {
    max-width: 100%;
    border: 1px solid #333;
}
.block-3 {
    line-height: 1.5em;
    background: #222;
}

/* Иконки соц сетей */

.main__section0{
    display: flex;
    justify-content: space-between;
}
.li_social {
    list-style-type: none; /* Убираем стандартные маркеры */
    padding-left: 0;
}
.li_social_tg {
    background: url(img/social_icons/tg.svg) 0 50% / 20px no-repeat;
    padding-left: 28px;
}
.li_social_linkedin {
    background: url(img/social_icons/linkedin.svg) 0 50% / 20px no-repeat;
    padding-left: 28px;
}
.li_social_git{
    background: url(img/social_icons/git_w.svg) 0 50% / 20px no-repeat;
    padding-left: 28px;
}

/* Сертификаты */

.accordion {
    display: flex;
    flex-direction: column;
    background-color: #98765B;
    color: #010101;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 2px;
    width: 100%;
    text-align: left;
    font-size: .9em;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #534132;
    color: #C4926A;
}
.panel {
    padding: 10px;
    background-color: #010101;
    color: #000;
    display: none;
    overflow: hidden;
    text-align: center;
}
.panel img{
    max-width: 100%;
}

/* FOOTER */

.footer__content{
    max-width: 1280px;
    margin: auto;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}

/* ГАЛЕРЕЯ */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 30px;
  }
  .gallery img {
    width: 31%;
    height: 31%;
    cursor: pointer;
    border: 1px solid #333;
    margin-bottom: 30px;
    transition: transform 0.3s;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5)
  }
  .gallery img:hover {
    transform: scale(1.05);
  }
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;

  }
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  .modal-content img {
    width: 100%;
    height: auto;
    display: block;
  }
  .close, .prev, .next {
    position: fixed;
    top: 50%;
    color:#C4926A;
    font-size: 48px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  .close:hover, .prev:hover, .next:hover {
    color:#FF9F4D;
  }
  .close {
    top: 2%;
    right: 2%;
    transform: none;
  }
  .prev {
    left: 2%;
  }
  .next {
    right: 2%;
  }
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    border: 1px #FF9F4D solid;
    box-shadow: 0px 0px 30px 0px rgba(255, 159, 77, .5);
    transform: scale(1.05);
}

.toTop{
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 60px;
    right: 40px;
    z-index: 1;
    background: url(img/totop.svg);
    background-color: #C4926A;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
.toTop:hover {
    background-color: #FF9F4D;
}